/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  font-family: "Times New Roman", Times, serif;
}

header {
  /* position: relative; */
  height: 100px;
  background-image: url("../img/pattern.png");
  background-size: 20%;
  background-color: #2375d7;
}

header img {
  max-width: 10%;
  margin-top: 50px;
}

h1 {
  font-size: 60px;
}

.credits {
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

span {
  color: #2375d7;
}

.principale {
  padding: 20px 0 20px 0;
}

ul {
  padding-left: 15px;
}
/* perchè scompare con padding:0? */

table {
  padding: 20px 0 20px 0;
}

th {
  background-color: #2375d7;
  text-align: left;
  color: white;
}

tr {
  background-color: lightblue;
}

.white {
  background-color: white;
}
